html,
body{
    height: 100%;
}
body{
    margin:0;
    font-family: Robto, "Helvetica Neue", sans-serif;
}
.text-center{
    text-align: center;
   
}
img {
   width: 70px;
   height: 90px; 

}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.full-width{
    width:70%;
}
.login-container{
    max-width: 400px; 
    margin: 60px auto 0;
  }
  
  .error{
    color: tomato; 
    font-size: 12px; 
    padding-top: 4px
  }
 .spacer{
  align-items: flex-end;
 }
 .mat-toolbar.mat-primary {
  background: #212121;
  color: #fff;
}