<div class="backdrop">
    <div class="">
      <!-- <div class="row"> -->
        
          <div class="col-md-12">
   
            <h1 class="tile">Account Details</h1>
            <div class="card-body">
                <table class="table table-bordered table-striped"  style="width:100%">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Account </th>
                      <th scope="col">branch</th>
                      <th scope="col">ifci</th>
                      <th scope="col">name</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="!isloading">
                      <tr *ngFor=" let account of rows">       
                      <td>{{ account.accountNumber }}</td>
                      <td>{{ account.branch }}</td>
                      <td>{{ account.ifci }}</td>
                      <td>{{ account.name }}</td>
                      
                    </tr>
                  </tbody>
                </table>
              </div>




            
               
                   
    </div>
  </div>
  </div>
