.backdrop{
    width: 100%;
    height: 100%;
    margin-left: 10%;  
}
.first{
    margin-top: 10px;
}
.tile{
    font-family: 'proxima_nova' !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size:32px;
}