html,
body{
    height: 100%;
}
body{
    margin:0;
    font-family: Robto, "Helvetica Neue", sans-serif;
}
.text-center{
    text-align: center;
   
}
img {
   width: 70px;
   height: 90px; 

}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.full-width{
    width:70%;
}
.container{
    min-width: 1000px !important;
}
.text-act{
    margin-left: 15px;
}
.text-ifsc{
    margin-left: 92px;
}
.text-amt{
    margin-left: 71px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
   

}


.submit-form{
     margin-left: 30px;
}

.error{
    margin-left: 173px;
    color: red;
    font-weight: bold;
}